<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Configuación de parámetros</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
</head>
<body>
    <p><h4>PARÁMETROS DE CONFIGURACIÓN</h4></p>
    <br>
    <p>
    <table class="table">
        <thead>
          <tr>
            <th>Rango</th>
            <th>Mínimo</th>
            <th>Máximo</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-primary">
            <td>Hipotermia</td>
            <td><input type="number"></td>
            <td><input type="number"></td>
          </tr>
          <tr class="table-success">
            <td>Normal</td>
            <td><input type="number"></td>
            <td><input type="number"></td>
          </tr>
          <tr class="table-danger">
            <td>Fiebre</td>
            <td><input type="number"></td>
            <td><input type="number"></td>
          </tr>
          
        </tbody>
      </table>
    </p>
    <p><button class="btn btn-primary" type="button">GUARDAR</button></p>
    
</body>
</html>