<html>
    <head>
        <title>Sistema DABM</title>
        <meta charset="utf-8">

    </head>

    <body>
        
        <p>Esto es un párrafo</p>
        <p>Esto es otro párrafo</p>
        <h1>Titulo 1</h1>
        <h2>Titulo 2</h2>
        <h3>Titulo 3</h3>
        <h4>Titulo 4</h4>
        <h5>Titulo 5</h5>
        <h6>Titulo 6</h6>

        <input type="text">
        <input type="date">
        <input type="password">
        <input type="number">
        <input type="color">
        <input type="datetime-local">
        <input type="email">
        <input type="file">
        <br>
        <img alt="Logo Escuela" height="147" src="https://escuelaing.s3.amazonaws.com/staging/images/logo-ecijg.width-380.png?AWSAccessKeyId=AKIAWFY3NGTFBJGCIWME&amp;Signature=PqBSl4XBVzvut%2B0TPZ20fTdcRa0%3D&amp;Expires=1636469363" width="380">
        <p>
            <select>
                <option value="1">Lunes</option>
                <option value="2">Martes</option>
                <option value="3">Miercoles</option>
            </select>
        </p>
        <p>
            <input type="button" value="Ingreso">
        </p>
        <p>
            <input type="radio" name="sexo" value="M">Masculino
            <input type="radio" name="sexo" value="F">Femenino
        </p>
        <p>
            <input type="checkbox" id="hipertension" value="hi">Hipertensión
            <input type="checkbox" id="diabetes" value="diabetes">Diabetes
        </p>
        <table border="1">
            <tr>
                <td>
                    Nombre
                </td>
                <td>Tipo</td>
            </tr>
            <tr>
                <td>
                    David Guerra
                </td>
                <td>Administrador</td>
            </tr>
            <tr>
                <td>
                    Juan Rodriguez
                </td>
                <td>Paciente</td>
            </tr>
        </table>
    </body>

    <footer>
        <p>Copyright - DABM - 2021</p>
    </footer>

</html>